/* Slideshow container */
.slideshow-container {
    padding: auto;
    position: relative;
    height: 95vh;
    width: 100%;
    grid-area: slideshow;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 100%;
    width: 100%;
    margin: auto;
}

.mySlides > img {
    height: 95vh;
    width: 100%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

#slide1 {
    background-image: url(media/pier68-boats.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#slide2 {
    background-image: url(media/sunset_fishing.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo {
    height: 500px;
}

.logo:hover {
    
}

.logo_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > .media1{
    background-color: rgb(255, 93, 93);
    background-image: url()
    grid-area: media-one;
    padding: 150px;
    padding: 200px;
    
    }
    
    #content > .media2{
    background-color: orange;
    grid-area: media-two;
    padding: 150px;
    padding: 200px;
    }
    
    #content > .media3{
    grid-area: media-three;
    background-color: pink;
    padding: 150px;
    padding: 200px;
    }