body{
    grid-template-areas:
    'nav nav nav nav nav nav'
    'slideshow slideshow slideshow slideshow slideshow slideshow'
    ' media-one media-one media-one media-one media-two media-two '
    ' media-one media-one media-one media-one media-three media-three '
    ' content content content content content content '
    'footer footer footer footer footer footer';
    background-color:gray;
    margin:0;
}

/* Navbar from W3Schools */
.navbar {
    overflow: hidden;
    background-color: rgba(136, 136, 136);
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #f8e28c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    margin: 1em;
    border-radius:5px;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    margin: 1em;
    border-radius:5px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #f8e28c;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f8e28c;
    color:#888;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #888;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #f8e28c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f8e28c;
    color:#666;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
#content{
grid-area: content;
display: flex;
justify-content: space-between;
justify-content: space-around;
margin:10px;
}

footer {
grid-area: footer;
background-color: rgb(255, 93, 93);
padding:5em;
padding:10em;


}